/* src/components/SpotsComponent/Spots.css */

.spots-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 spots per row */
  gap: 10px;
  padding: 20px; /* Add padding */
  max-width: 100%; /* Prevent overflow */
  box-sizing: border-box; /* Ensure padding is included in width */
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* space between buttons */
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px; /* smaller padding */
  font-size: 14px; /* smaller text */
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px; /* slightly larger text for the page counter */
}



/* .spots-container { */
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); 4 spots per row */
  /* gap: 20px; */
  /* justify-content: center; */
}


/* .spots-container {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    gap: 20px;
  } */

  /* .spots-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  } */
/*
  .spot-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } */
